@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond&display=swap');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    background-color: #f5ece5;
}


main {
    flex: 1 0 auto;
}


.flashes h4 {
    line-height: 2;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel Decorative', cursive;
}

/*                                                              Colours */
.background-cabbage {
    background-color: #45523e;
}

.background-matrix {
    background-color: #ad5d50;
}

.background-merino {
    background-color: #f5ece5;
}

.page-footer {
    background-color: #45523e;
}

.card {
    background-color: #b0aca2;
}

.nation-card {
    min-height: 500px;
}


.recipe-card {
    min-height: 600px;
}

.recipe-card-image {
    height: 220px;
}


/*                                                              Margins and padding */

.brand-logo {
    margin-left: 20px;
}

.title-margins {
    margin-top: 100px;
    margin-bottom: 70px;
}

footer{
    margin-top: 100px;
}

.full-recipe-container {
    padding: 20px;
}

.category-image
.card-image {
    max-width: fit-content;
}



.hero-card {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #f5ece5;
    text-shadow: 2px 2px 2px black;
    z-index: 99;
}

.parallax-container {
    z-index: 1;

}

.btn {
    z-index: 9999;

}

.social-links {
    color: #f5ece5;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-copyright {
    margin-top: 80px;
}