@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=EB+Garamond&display=swap');


/*....................................................main elements */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-size: x-large;
    background-color: #f5ece5;
}


main {
    flex: 1 0 auto;
}


.flashes h4 {
    line-height: 2;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel Decorative', cursive;
}


/*....................................................Colours */

.background-cabbage {
    background-color: #45523e;
}


.background-matrix {
    background-color: #ad5d50;
}


.background-merino {
    background-color: #f5ece5;
}


.background-cloudy {
    background-color: #b0aca2;
}


.page-footer {
    background-color: #45523e;
}


.card {
    background-color: #b0aca2;
}


.text-cabbage {
    color: #45523e;
}


.text-matrix {
    color: #ad5d50;
}


/*....................................................Margins and padding */

.brand-logo {
    margin-left: 20px;
}


.title-margins {
    margin-top: 100px;
    margin-bottom: 70px;
}


footer{
    margin-top: 100px;
}


.full-recipe-container {
    padding: 20px;
}


/*....................................................Cards */

.category-image
.card-image {
    max-width: fit-content;
}


.card-top {
    min-height: 290px;
}


.nation-card {
    min-height: 500px;
}


.recipe-card {
    height: 750px;
    min-width: 290px;
}


.recipe-card-image {
    height: 220px;
}

.hero-card {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #f5ece5;
    text-shadow: 2px 2px 2px black;
    z-index: 99;
}


.parallax-container {
    z-index: 1;

}


.btn {
    z-index: 9999;

}


/* .................................................base.html */

.social-links {
    color: #f5ece5;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-copyright {
    margin-top: 80px;
}

.brand-logo {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);

    font-family: 'Cinzel Decorative', cursive;
    align-content: left;

}

/* .............................................................Media Queries */


/* .................................................base.html */

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media only screen and (max-width: 510px) {
    nav .brand-logo {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 460px) {
    .footer-text {
        text-align: right;
    }
}


/* .................................................home.html */


@media only screen and (max-width: 1231px) and (min-width: 993px) {
    .nation-title {
        max-height: 120px;
    }
}

@media only screen and (max-width: 638px) and (min-width: 601px) {
    .nation-title {
        max-height: 116px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 840px) {
    .nation-image {
        max-height: 239px;
    }
}


@media only screen and (min-width: 993px) and (max-width: 1280px) {
    .recipe-card-col {
        width: 50% !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 710px) {
    .recipe-card-col {
        width: 100% !important;
    }
}

/* .................................................full_recipe.html */


@media only screen and (max-width: 599px) {
    .full-recipe-container > div> div {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .full-recipe-container{
        margin-top: 75px;
    }
}

