{% extends "base.html" %}
{% block content %}
    
<h2 class="light-blue-text text-darken-4 center-align">Recipe Name - Full Recipe</h2>

    {% for recipe in recipes %}
        {{ recipe.category_id }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_image }}<br>
        {{ recipe.recipe_description }}<br>
        {{ recipe.created_by }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.servings }}<br>
    {% endfor %}

{% endblock %}