{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-margins">{{ recipe.recipe_name }} - Full Recipe</h3>

<div class="row container">
    <div class="card full-recipe-container">
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-image">
                    {% if recipe.recipe_image %}
                    <img class="image" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }} image">
                    {% else %}
                    <img class="image" src="../static/images/plate.jpg" alt="empty plate image">
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <span class="col white-text">Description:</span><br>
                    <span class="col black-text">{{ recipe.recipe_description }}</span><br><br>
                    <span class="col white-text s5">Prep time:</span>
                    <span class="col black-text">{{ recipe.prep_time }}</span><br>
                    <span class="col white-text s5">Servings:</span>
                    <span class="col black-text">{{ recipe.servings }}</span><br>
                    <span class="col white-text s5">Created by:</span>
                    <span class="col black-text">{{ recipe.created_by|capitalize }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3 background-merino">
                <h5>ingredients</h5>
                <div class="col">
                    <ul>
                        {% for ingredient in recipe.ingredients.splitlines() %}
                        <li class=>
                            {{ ingredient }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s9">
                <span class="col white-text">Cooking Instructions:</span><br>
                <div class="col">
                    <ol>
                        {% for step in recipe.method.splitlines() %}
                        <li>
                            <p>{{ step }}</p>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
<!-- BUTTONS FOR EDIT DELETE IF session user (OR admin for delete) -->
<div class="card-action">
    {% if session.user|lower == recipe.created_by|lower %}
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow green">Edit</a>
    {% endif %}
    {% if (session.user|lower == recipe.created_by|lower or session.user|lower == "admin") %}
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col s12 btn-small text-shadow green">Edit</a>
    {% endif %}
</div> 

    </div>
</div>



{% endblock %}