{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-margins"> {{ username }}'s Recipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large background-cabbage">
            Add Recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!-- message to display if no matching results found -->
{% if recipes|length == 0 %}
<p class="center-align">No results found</p>
{% endif %}

<div class="row container">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4 recipe-card-col">
        <div class="card recipe-card center-align">
            <div class="card-content card-top white-text">
                <span class="card-title">
                    <h4>{{ recipe.recipe_name }}</h4>
                </span>
                <span class="card-title">{{ recipe.recipe_description }}</span>
            </div>
            <div class="card-image">
                {% if recipe.recipe_image %}
                <img class="recipe-card-image" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }} image">
                {% else %}
                <img class="recipe-card-image" src="../static/images/plate.jpg" alt="empty plate image">
                {% endif %}
            </div>
            <div class="card-content black-text left-align">
                <span class="white-text">Prep time:</span></span> {{ recipe.prep_time }}</span><br>
                <span class="white-text">Servings:</span></span> {{ recipe.servings }}</span><br>
                <span class="white-text">Created by:</span></span> {{ recipe.created_by|capitalize }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn background-cabbage">
                    View recipe
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}