{% extends "base.html" %}
{% block content %}

<h3 class="center-align title-margins">Recipes - {{ category.category_name }}</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large background-cabbage">
            Add Recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!-- message to display if no matching results found -->
{% if recipes|length == 0 %}
<p class="center-align">No results found</p>
{% endif %}

<div class="row container">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
        <div class="card recipe-card center-align">
            <div class="card-content white-text">
                <span class="card-title">
                    <h4>{{ recipe.recipe_name }}</h4>
                </span>
                <span class="card-title">{{ recipe.recipe_description }}</span>
            </div>
            <div class="card-image">
                {% if recipe.recipe_image %}
                    <img class="category-image" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }} image">
                {% else %}
                    <img class="category-image" src="../static/images/plate.jpg" alt="empty plate image">
                {% endif %}
              </div>
            <div class="card-content black-text left-align">
                <span>Prep time: {{ recipe.prep_time }}</span><br>
                <span>Servings: {{ recipe.servings }}</span><br>
                <span>Created by: {{ recipe.created_by|capitalize }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" class="btn background-cabbage">Full Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- 
<div class="row">
    <div class="col s6 center-align">
    {% for recipe in recipes %}
            {{ recipe.category_id }}<br>
            {{ recipe.recipe_name }}<br>
            {{ recipe.recipe_image }}<br>
            {{ recipe.recipe_description }}<br>
            {{ recipe.created_by }}<br>
            {{ recipe.ingredients }}<br>
            {{ recipe.method }}<br>
            {{ recipe.prep_time }}<br>
            {{ recipe.servings }}<br>
            {% endfor %}
        </div>
    </div> -->

{% endblock %}